/* 設定body背景色 */
body.index-body {
	background-color: #F4D9B3;
}

/* 設定副標題1的字體大小和顏色 */
.index-sub-title-1 {
	font-size: 12vw;
	color: #DD8EA4;
}

/* 設定副標題2的字體大小 */
.index-sub-title-2 {
	font-size: 8vw;
}

/* 設定內容區塊的顯示樣式 */
.index-content-section {
	display: none;
	padding: 15px;
	border: 1px solid #ccc;
	margin-top: 10px;
	background-color: #f9f9f9;
	width: 100%;
	max-width: 430px;
	min-width: 380px;
	margin: 0 auto;
}

/* 設定內容包裝區塊的樣式 */
.index-content-wrapper {
	width: 100%;
	max-width: 430px;
	min-width: 380px;
	margin: 0 auto;
	text-align: center;
}

/* 小於380px螢幕寬度時的樣式 */
@media (max-width: 380px) {

	.index-content-wrapper,
	.index-content-section {
		max-width: 100%;
	}
}

/* 大於430px螢幕寬度時的樣式 */
@media (min-width: 430px) {
	.index-sub-title-1 {
		font-size: 51.6px;
	}

	.index-sub-title-2 {
		font-size: 34.4px;
	}
}