/* 設定body背景色 */
body.index-body {
/*	background-color: #F4D9B3;*/
	background-color: #F2E9EB;
}

/* 設定副標題1的字體大小和顏色 */
.index-sub-title-1 {
	font-size: 12vw;
/*	color: #DD8EA4;*/
	color: #DD8EA4;
}

/* 設定副標題2的字體大小 */
.index-sub-title-2 {
	font-size: 8vw;
}

/* 設定內容區塊的顯示樣式 */
.index-content-section {
	display: none;
	padding: 15px;
	border: 1px solid #ccc;
	margin-top: 10px;
	background-color: #f9f9f9;
	width: 100%;
	max-width: 430px;
	min-width: 380px;
	margin: 0 auto;
}

/* 設定內容包裝區塊的樣式 */
.index-content-wrapper {
	width: 100%;
	max-width: 430px;
	min-width: 380px;
	margin: 0 auto;
	text-align: center;
}

/* 小於380px螢幕寬度時的樣式 */
@media (max-width: 380px) {

	.index-content-wrapper,
	.index-content-section {
		max-width: 100%;
	}
}

/* 大於430px螢幕寬度時的樣式 */
@media (min-width: 430px) {
	.index-sub-title-1 {
		font-size: 51.6px;
	}

	.index-sub-title-2 {
		font-size: 34.4px;
	}
}

/* 修改 info 的樣式，使其背景顏色變為透明 */
#index-content-section.info {
	background-color: transparent;
	/* 設定背景顏色為透明 */
}

/* 調整 info 內部文字的大小，使其根據視窗大小調整 */
.info-content-section {
	font-size: 2vw;
	/* 根據視窗寬度調整文字大小 */
	max-width: 430px;
	/* 最大寬度為430px */
	margin: 0 auto;
	/* 水平居中 */
	padding: 20px;
	/* 內邊距 */
	box-sizing: border-box;
	/* 包含內邊距和邊框在內的計算 */
}

/* 確保 info 內部文字的最大寬度不超過430px */
@media (min-width: 430px) {
	.info-content-section {
		font-size: 1.6vw;
		/* 當視窗寬度大於430px時，設置固定字體大小 */
	}
}

/* 設定圖片 logo 的樣式 */
.responsive-logo {
	/* 置中圖片 */
	display: block;
	margin:  auto;
	/* 設定圖片的最大寬度 */
	max-width: 20%;
	height: auto;
}

/* 當視窗寬度超過時，圖片不再縮放 */
@media (min-width: 430px) {
	.responsive-logo {
		/* 設定圖片的最大寬度 */
		max-width: 20%;
	}
}