/* index.css */
body {
	/* 設定背景圖片 */
	/*	background-image: url('background.jpg');*/

	/* 背景圖片不會隨著內容滾動 */
	/*	background-attachment: fixed;*/

	/* 背景圖片的位置 */
	/*	background-position: center;*/

	/* 背景圖片不重複 */
	/*	background-repeat: no-repeat;*/

	/* 設定背景圖片的大小 */
	/*	background-size: 450px 1000px;*/
	/* 這裡的尺寸可以根據您的需求調整 */

	background-color: #F2E9EB;
}

.sub-title-1 {
    font-size: 12vw; /* 根據視窗寬度動態調整字體大小 */
    color: #DD8EA4;
}

.sub-title-2 {
    font-size: 8vw; /* 根據視窗寬度動態調整字體大小 */
}

/* 定義內容區塊的基本樣式 */
.content-section {
	display: none;
	/* 預設為隱藏 */
	padding: 15px;
	border: 1px solid #ccc;
	margin-top: 10px;
	background-color: #f9f9f9;
	width: 100%;
	/* 設置內容區塊寬度為100% */
	max-width: 430px;
	/* 設置內容區塊的最大寬度 */
	min-width: 380px;
	/* 設置內容區塊的最小寬度 */
	margin: 0 auto;
	/* 置中 */
}

/* 内容的样式 */
.content-wrapper {
	width: 100%;
	/* 設置內容寬度為100% */
	max-width: 430px;
	/* 設置內容的最大寬度 */
	min-width: 380px;
	/* 設置內容的最小寬度 */
	margin: 0 auto;
	/* 置中 */
	text-align: center;
	/* 文字置中 */
}

/* 針對螢幕寬度小於380px的樣式 */
@media (max-width: 380px) {

	.content-wrapper,
	.content-section {
		max-width: 100%;
/*		 設置內容區塊的最大寬度為100% */
	}
	
}

@media (min-width: 430px) {
    .sub-title-1 {
        font-size: 51.6px; /* 固定字體大小 */
    }
    .sub-title-2 {
        font-size: 34.4px; /* 固定字體大小 */
    }
}