/* 設置頁面背景顏色 */
body {
	background-color: #FFFFFF;
}

/* 設置計時器的字體和顏色 */
#timer {
	font-family: Arial, Helvetica;
	font-size: 10vw;
	color: black;
}

/* 按鈕樣式設置 */
button {
	background-color: #fcb900;
	border: none;
	color: #333333;
	padding: 15px 30px;
	margin: 0px 0px 0px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}