/* 自訂樣式 */
.content-section {
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 430px;
    min-width: 380px;
    margin: 0 auto;
}

.content-wrapper {
    width: 100%;
    max-width: 430px;
    min-width: 380px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 380px) {
    .content-wrapper, .content-section {
        max-width: 100%;
    }
}
