/* slideshow.css */
.slideshow-carousel-item {
	transition: opacity 1s ease-in-out;
}

.slideshow-carousel-item-next,
.slideshow-carousel-item-prev,
.slideshow-carousel-item-active {
	display: block;
}

.slideshow-carousel-item-next,
.slideshow-carousel-item-prev {
	opacity: 0;
}

.slideshow-carousel-item-next-start,
.slideshow-carousel-item-prev-end,
.slideshow-carousel-item-active {
	opacity: 1;
}