/* 控制輪播項目的漸變效果 */
.slideshow-carousel-item {
	transition: opacity 1s ease-in-out;
}

/* 顯示當前、下一個和上一個輪播項目 */
.slideshow-carousel-item-next,
.slideshow-carousel-item-prev,
.slideshow-carousel-item-active {
	display: block;
}

/* 設定下一個和上一個輪播項目的透明度為0 */
.slideshow-carousel-item-next,
.slideshow-carousel-item-prev {
	opacity: 0;
}

/* 當開始切換到下一個或結束切換到上一個項目時，將透明度設為1 */
.slideshow-carousel-item-next-start,
.slideshow-carousel-item-prev-end,
.slideshow-carousel-item-active {
	opacity: 1;
}