.carousel-item {
    transition: opacity 1s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel-item-next,
.carousel-item-prev {
    opacity: 0;
}

.carousel-item-next.carousel-item-start,
.carousel-item-prev.carousel-item-end,
.carousel-item.active {
    opacity: 1;
}
